<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h5>Employee List</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Employee Contact No</th>
                    <th>Employee Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody >
                    @for (item of employeeList; track $index)
                    {
                          <tr>
                            <td>{{$index + 1}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.ContactNo}}</td>
                            <td>{{item.EmailID}}</td>
                            <td>
                              <button class="btn btn-primary me-1" (click)="OnEdit(item)">Edit</button>
                              <button class="btn btn-danger me-1" (click) = "OnDelete(item.EmpId)">Delete</button>

                            </td>
                          </tr>
                    }
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
          Create New Employee 
      </div>
      <div class="card-body">
        <form [formGroup]="employeeform">
          <div class="row p-1">
            <!-- Name -->
            <div class="col-6">
              <label for="">Name</label>
              <input type="text" formControlName="Name" formControlName="Name" class="form-control">
              <div class="text-danger">
                @if(employeeform.controls['Name'].touched)
                {
                  @if(employeeform.controls['Name'].errors?.['required'])
                  {
                    <span> name is required</span>
                  }
                }
              </div>
            </div>
            <!-- Email -->
            <div class="col-6">
              <label for="">Email</label>
              <input type="text" formControlName="EmailID" class="form-control">
            </div>
             <!-- Contact -->
             <div class="col-6">
              <label for="">Contact No</label>
              <input type="email" formControlName="ContactNo" class="form-control">
            </div>
            <!-- State -->
              <div class="col-6">
                <label for="">State</label>
                <input type="text" formControlName="State" class="form-control">
              </div>
            <!-- City -->
            <div class="col-6">
              <label for="">City</label>
              <input type="text" formControlName="City" class="form-control">
            </div>
  
             <!-- Pincode -->
             <div class="col-6">
              <label for="">Pin Code</label>
              <input type="text" formControlName="Pincode" class="form-control">
              <div class="text-danger">
                @if(employeeform.controls['Pincode'].touched)
                {
                  @if(employeeform.controls['Pincode'].errors?.['required'])
                  {
                    <span> pincode is required</span>
                  }
                  @if(employeeform.controls['Pincode'].errors?.['minlength'])
                  {
                    <span> minimum length is 6 characters</span>
                  }
                }
              </div>
            </div>
  
            <!-- Address -->
            <div class="col-12">
              <label for="">Address</label>
              <textarea formControlName="Address" class="form-control"></textarea>
            </div>
          </div>
          <div class="row p-3">
          <div class="col-6 text-center">
            <button class="btn btn-secondary" type="button" (click)="onreset()">
              Reset
            </button>
          </div>
          <div class="col-6 text-center">
            @if(employeeform.controls['EmpId'].value == '1')
            {
              <button class="btn btn-success" [disabled]="employeeform.invalid"  (click)="OnSave()">
                Save Employee
              </button>
            }
            @else
            {
              <button class="btn btn-warning" [disabled]="employeeform.invalid" (click)="OnUpdate()">
                Edit Employee
              </button>
            }
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>